//
// Colors
//

$white: #fff;
$black:#000000;

$backround:#F7FBFF;
$violet:#800080;
$light-text:#A6B2CD;
$dark-text:#130F49;




//
// fonts
//

$font: 'Work Sans',
sans-serif;

$titleFont: 'Spartan',
sans-serif;