/*! ==========================================================================
   UIKIT Custom
   ========================================================================== */

@import "variables";
@import "mixins";

/*! ==========================================================================
   Theme styles
   ========================================================================== */

body {
    font-family: $font;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: inherit;
    text-decoration: none !important;
}

p {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.btn-violet {
    background-color: $violet;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: $white;
    display: inline-block;
    transition: all 400ms linear;

    &:hover {
        background-color: $dark-text;
        color: $white;
    }
}

.btn-light {
    background-color: #feece5;
    border-radius: 40px;
    padding: 2px 18px;
    font-size: 13px;
    color: #f76558;
    margin-top: 5px;
    display: inline-block;
}

h1 {
    font-family: $titleFont;
    font-weight: 600;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: -2.97px;
    color: $violet;

    @media (max-width:959px) {
        font-size: 40px;
        line-height: 52px;
    }

    @media (max-width:639px) {
        font-size: 30px;
        line-height: 42px;
    }
}

h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #0F1C49;
    margin: 15px 0px;

    @media (max-width:639px) {
        font-size: 22px;
        line-height: 26px;
    }
}

h4 {
    font-family: $titleFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.01em;
    color: #130F49;

    @media (max-width:639px) {
        font-size: 20px;
        line-height: 30px;
    }
}

h5 {
    font-size: 20px;
    font-weight: 500;
    color: $dark-text;

    @media (max-width:639px) {
        font-size: 18px;
    }
}

.btn-green {
    background-color: #7edf9c;
    border-radius: 40px;
    padding: 2px 0px 0px 0px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    display: inline-block;
    width: 50px;
    height: 28px;
    text-align: center;
    box-sizing: border-box;
}

.btn-green img,
.btn-red img {
    max-width: 15px;
}

.btn-red {
    background-color: #8cc7f1;
    border-radius: 40px;
    padding: 2px 0px 0px 0px;
    font-size: 13px;
    color: #ffffff;
    margin-top: 0px;
    display: inline-block;
    width: 50px;
    height: 28px;
    text-align: center;
    box-sizing: border-box;
}

header {

    &.uk-sticky-fixed {
        padding: 15px;
        background: $white;

    }
}

.round {
    border-radius: 50%;
    position: absolute;
    transition: all 400ms linear;


    &.bg-violet {
        background: $violet;
    }

    &.round-sm {
        width: 11px;
        height: 11px;
        right: 1vw;
        top: 34px;

        &:nth-child(2) {
            width: 16px;
            height: 16px;
            right: 2vw;
            top: 90vh;
            z-index: 99;
        }

        &:nth-child(3) {
            width: 14px;
            height: 14px;
            left: 2vw;
            top: 70vh;
            z-index: 99;
        }
    }

    &.round-md {
        width: 36px;
        height: 36px;
        right: 6vw;
        top: 25vh;
        background: #FFF3F3;
        z-index: 99;
    }

    &.round-lg {
        width: 72px;
        height: 72px;
        left: 49vw;
        top: 50vh;
        background: rgba(128, 0, 128, 0.2);
        z-index: 9;
    }

    &.round-xl {
        width: 126px;
        height: 126px;
        left: 5vw;
        top: 15vh;
        z-index: 9;
        background: rgba(128, 0, 128, 0.2);
    }
}

.uk-navbar-item,
.uk-navbar-nav {
    >li {
        a {
            font-family: $font;
            min-height: unset;
            font-weight: 500;
            color: $light-text;
            text-transform: capitalize;
            letter-spacing: -0.22px;
            transition: all 400ms linear;

            &.header-btn {
                display: inline-block;
                background: rgba(19, 15, 73, 0.1);
                border-radius: 26.4px;
                padding: 10px 25px;
                color: $violet;

                &:hover {
                    background-color: $violet;
                    color: $white;
                }
            }
        }

        &.uk-active {
            a {
                color: $violet;
            }
        }
    }
}

.banner {
    ul {
        li {
            background-color: $white;

            .banner-captions {
                margin-right: 5vw;

                .btn-violet {
                    padding: 15px 25px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    margin-top: 20px;
                }

                h1 {
                    font-size: 58px;
                    line-height: 72px;

                    @media (max-width: 959px) {
                        font-size: 36px;
                        line-height: 45px;
                    }

                }

                p {
                    font-size: 24px;
                    line-height: 26px;
                    letter-spacing: -0.4px;
                    color: $dark-text;
                    opacity: 0.9;
                }
            }

        }
    }
}

.searchbar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    bottom: 0px;
    padding: 0px 0px 20px;
    background: none;

    .btn-search {
        background: #FFFFFF;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        padding: 12px 25px;
        border: 1px solid #800180;
        width: 100%;
        text-align: left;
        font-size: 16px;
    }

    .uk-alert-close {
        right: 65px;
        top: 22px;
        background: #fff;
        width: 25px;
        height: 25px;
        box-shadow: 0px 0px 5px 0px #a7a7a7;
        border-radius: 50%;
        padding: 7px;
    }
}

.right-canvas.uk-offcanvas-bar {
    width: 500px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 768px) {
        width: 320px;
    }

    .searchPopContent {
        width: 100%;

        * {
            color: #898989;
            border-color: #ababab;
        }

        h2 {
            font-size: 26px;
            font-weight: 700;
            color: $violet;
        }

        h6 {
            font-size: 15px;
            font-weight: 600;
        }

        .btn-groups {

            button {
                padding: 0px 20px 0px 10px;
                border-radius: 40px;
                margin-bottom: 10px;

                .uk-icon {
                    margin-right: 5px;
                }

                &:hover {
                    border-color: $violet;
                }
            }
        }

        .search-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            padding: 0px 40px 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .uk-offcanvas-close {
                color: #898989;
                position: static;
                display: inline-block;
                border-radius: 25px;
                padding: 20px;


                &:hover {
                    background: #efefef;
                }

                svg {
                    display: none;
                }
            }
        }
    }

    & .uk-form-icon,
    & .uk-input {
        color: #ababab;
        border-color: #ababab;
        border-radius: 10px;

        &::placeholder {
            color: #898989;
        }
    }

    .uk-button-secondary {
        background: $violet;
        text-align: center;
        padding: 0px 20px;
        color: #fff;
        border-color: $violet;
        border-radius: 30px;
    }
}

.featured-property {
    margin-bottom: 15px;

    .map-wrap {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        max-width: 500px;
        height: 500px;
        margin: 0px auto;

        @media (max-width:639px) {
            border-radius: 0%;
            max-width: unset;
            height: unset;
        }
    }

    .featured-box {
        @media (min-width: 959px) and (max-width: 1199px) {
            margin-right: 20px;
        }

        @media (min-width: 959px) and (max-width: 1050px) {
            .title-btns {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }

        @media (max-width:639px) {
            .title-btns {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }

        .aminities {
            @media (max-width: 1050px) {
                .uk-first-column {
                    padding-left: 30px !important;
                }
            }
        }

        h5 {
            margin: 0px;
            font-size: 18px;
            font-family: $titleFont;
            font-weight: 700;
        }

        figure {
            @media (max-width:639px) {
                height: 200px;
            }

            .img-wrap {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            img {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }

        figcaption {
            border: 1px solid #f5f5f5;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border-left: 0px;
            padding-bottom: 0px;

            @media (max-width:639px) {
                border: 0px;
                margin-top: 0px;
                padding-left: 40px;
            }
        }

        .price {
            font-size: 20px;
            color: $violet;
            font-weight: 700;
            font-family: $titleFont;
        }

        .aminities {
            >div {
                margin: 0px;
                padding-top: 0px;
                padding-bottom: 10px;
            }

            span {
                background: #edf1f9;
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 2px;
                border-radius: 50%;
                box-sizing: border-box;
            }
        }

        .box-footer {
            margin-top: 15px;
            border-top: 1px solid #efefef;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 0px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 5px;

            .location {
                padding-left: 15px;

                span {
                    display: inline-block;
                    width: 20px;
                }
            }
        }
    }
}

.how-it-works {
    background-color: #f2e5f2;
    position: relative;
    overflow: hidden;
    padding-top: 100px;

    &:before {
        content: '';
        display: block;
        width: 150%;
        height: 150px;
        background: #fff;
        border-radius: 140%;
        position: absolute;
        top: -125px;
        left: 50%;
        transform: translateX(-50%);
    }

    .round-sm:first-child {
        left: 2vw;
        top: 10vw;
    }

    .round-sm:nth-child(2) {
        opacity: 0.5;
    }

    p {
        color: #130F49;
    }

    .uk-slider-items {
        li {
            display: flex;

            .work-box {
                background-color: $white;
                border-radius: 30px;
                text-align: center;
                padding: 50px 30px;

                span {
                    display: inline-flex;
                    background-color: $violet;
                    width: 100px;
                    height: 100px;
                    border-radius: 15px;
                    justify-content: center;
                }
            }
        }
    }


}

.uk-dotnav>.uk-active>* {
    background-color: $violet;
    border-color: transparent;
}

.sales-rentals {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        width: 150%;
        height: 150px;
        background: #f2e5f2;
        border-radius: 140%;
        position: absolute;
        top: -125px;
        left: 50%;
        transform: translateX(-50%);
    }

    .round.round-lg {
        left: 5vw;
        top: 25vh;
        opacity: 0.7;
    }

    .round.round-sm {
        right: 20vw;
        top: 60vh;
    }

    h2 {
        font-family: $titleFont;
        font-weight: 600;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -2.32px;
        color: #130F49;

        @media (max-width:959px) {
            br:first-child {
                display: none;
            }

            margin-bottom: 30px;
            font-size: 40px;
            line-height: 52px;
        }
    }

    aside {
        p {
            font-size: 24px;
            line-height: 38px;
            letter-spacing: -1px;

            @media (max-width:959px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    .sales-list {
        .item-box {
            margin: 0px 0px 30px;

            span {
                display: inline-block;
                background-color: rgba($violet, 0.2);
                width: 50px;
                height: 45px;
                padding: 9px 0px 0px;
                border-radius: 10px;
                text-align: center;

                @media (max-width:959px) {
                    width: 40px;
                    height: 35px;
                    padding: 5px 0px 0px;
                }
            }

            &:nth-child(odd) {
                span {
                    background-color: rgba($violet, 0.5);
                }
            }

            h4 {
                padding-left: 15px;

                @media (max-width:959px) {
                    font-size: 16px;
                }
            }
        }
    }

    .slideimg {
        @media (max-width:959px) {
            margin-top: -350px;
            z-index: -1;

            img {
                opacity: 0.4;

            }
        }
    }
}

.trending-now {
    .round.round-lg {
        right: 10vw;
        top: 15vh;
        opacity: 0.5;
        left: auto;
    }

    .round.round-sm {
        left: 10vw;
        top: 60vh;
    }

    .round.round-md {
        left: 20vw;
        top: 5vh;
    }

    h2 {
        font-family: $titleFont;
        font-weight: 600;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -2.32px;
        color: #130F49;

        @media (max-width:959px) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    p {
        font-size: 24px;
        line-height: 38px;

        @media (max-width:959px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    aside {
        @media (max-width:639px) {
            margin-bottom: 50px;
        }

        p {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -1px;

            @media (max-width:959px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}

.trusted {
    position: relative;

    .round.round-lg {
        left: 10vw;
        top: 80vh;
        opacity: 0.5;
    }

    .round.round-sm {
        right: 10vw;
        top: 30vh;
    }

    .round.round-md {
        left: 20vw;
        top: 5vh;
    }

    h2 {
        font-family: $titleFont;
        font-weight: 600;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -2.32px;
        color: #130F49;

        @media (max-width:959px) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    aside {
        >p {
            font-size: 24px;
            line-height: 38px;
            letter-spacing: -1px;

            @media (max-width:959px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }


    .app-down {
        margin-top: 30px;

        a {
            display: inline-flex;
            background-color: #CCE8FD;
            border-radius: 20px;
            padding: 10px 20px;
            align-items: center;
            margin-bottom: 5px;

            i {
                margin-right: 10px;
            }

            strong {
                display: block;
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: -0.01em;
                color: #130F49;
            }
        }
    }

    .slideimg {
        @media (max-width:959px) {
            margin-top: -350px;
            z-index: -1;

            img {
                opacity: 0.1;

            }
        }
    }
}

.partners {
    h2 {
        font-family: $titleFont;
        font-weight: 600;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -2.32px;
        color: #130F49;
        text-align: center;

        @media (max-width:959px) {
            font-size: 32px;
            line-height: 44px;
        }
    }
}

.joinnow {
    background-color: rgba($violet, 0.2);

    h2 {
        font-family: $titleFont;
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        letter-spacing: -2.32px;
        color: #130F49;
    }

    p {
        font-size: 24px;
        line-height: 38px;
        letter-spacing: -1px;
        color: #7D6F7D;
        opacity: 0.7;
    }
}

.roundedText {
    position: relative;
    color: $white;

    &:before {
        content: '';
        display: block;
        width: 5.5vw;
        height: 5.5vw;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50%;
        background-color: rgba($violet, 0.24);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.footer {
    padding-bottom: 80px;

    .quickLInks {
        @media (max-width:639px) {
            margin-left: 0px !important;
            margin-bottom: 30px;
        }

        h6 {
            font-size: 20px;
            color: $dark-text;
            font-weight: 500;
        }

        ul {
            padding: 0px;
            list-style: none;

            li {
                a {
                    font-size: 15px;
                }
            }
        }
    }

    .social {
        a {
            display: inline-block;
            background: rgba($violet, 0.5);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0px 5px;
            text-align: center;
            color: $white;
            padding-top: 10px;
            box-sizing: border-box;
            transition: all 400ms linear;

            &:hover {
                background: rgba($violet, 1);
            }
        }
    }
}

.whatsappChat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;

    a {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 40px;
        text-align: center;
        border-radius: 50%;
        background: #7edf9c;
        box-shadow: 0px 0px 20px 0px #bdbdbd;
        padding: 10px 0px 0px 0px;
        box-sizing: border-box;

        svg {
            width: 25px;
            height: 25px;
            fill: #fff;
        }
    }
}

.uk-offcanvas-bar {
    width: 280px;

    ul {
        li {
            font-size: 17px;
        }
    }
}

.mobilebtn {
    padding: 5px 8px;
    line-height: 0px;
    border-color: #800080;
    background-color: #800080;

    &:hover,
    &:focus {
        background: #000;
    }

    svg {
        fill: #fff;
    }
}

.floatingSocial {
    position: fixed;
    top: 50%;
    left: 0px;
    width: 50px;
    height: auto;
    transform: translateY(-50%);
    z-index: 999;

    &.social {
        a {
            display: inline-block;
            background: rgba($violet, 0.5);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0px 5px 5px;
            text-align: center;
            color: $white;
            padding-top: 10px;
            box-sizing: border-box;
            transition: all 400ms linear;

            &:hover {
                background: rgba($violet, 1);
            }
        }
    }
}